<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>MX - Plugin Documentation</title>
	<link rel="icon" href="crow.ico?" type="image/x-icon">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<meta property="og:type" content="article"/>
	<meta property="og:title" content="Plugin Documentation"/>
	<link rel="feed" type="application/rss+xml" title="Mineral Existence RSS Feed" href="https://mineralexistence.com/feed.xml">

	<!-- the below sections enables syntax highlighting when js is enabled, and reverts to the default when it isn't -->
	<noscript>
		<style>
			pre {
				font-size:calc(0.5rem + 0.25vw);
				line-height:2.3ex;
				overflow-x:auto; 
				padding:2%; 
				color:var(--bg);
				background-color:var(--text); 
			}
		</style>
	</noscript>
	<script src="./assets/prism.js"></script>

	
	<script>
		var link = document.createElement("link");
		link.rel="stylesheet";
		link.href="./assets/prism.css";
		link.type="text/css";
		document.getElementsByTagName("head")[0].appendChild(link);
	</script>

	<style>
/* @import url('reset.css'); */

*, *::before, *::after {box-sizing: border-box;} 
* {margin: 0;} 
body {line-height: 1.5;-webkit-font-smoothing: antialiased;}
img, picture, video, canvas, svg {display: block;max-width: 100%;}
input, button, textarea, select {font: inherit;} 
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;} 
#root, #__next {isolation: isolate;} 

:root {
	/* --text:#3A3738; */
	/* --text:#472d30; */
	--text:#654735;
	/* --bg:#FBF0F0; */
	/* --bg:#ffe1a8; */
	--bg:#fbf1c7;
	/* --hl:#80dec5; */
	/* --hl:#c9cba3; */
	--hl:#45707a;
	--hl-orange:#c35e0a;
}

body {
	font-size:calc(1rem + 0.5vw);
	font-family:Times;
	max-width:80ch;
	padding:1em 7%; 
	margin: 3rem auto 3rem; 
	padding: 0 1rem; 
	line-height:1.6;
	color:var(--text);
	background-color:var(--bg);
}

main > *+* {margin-top: 2ex;}

*:not(footer)>a {color:var(--hl);}
*:not(footer)>a:visited {color:var(--hl-orange);}
*:not(footer)>a[href*=':']::before{content:"↗"}

/* *:not(footer)>a:hover {color:var(--text);background-color:var(--bg);} */

header>h1 {display:inline-block;padding-right:.3em;}
header {border-bottom:1.5px solid;padding:0 0 1em 0;margin: 0 0 1em 0;clear:both;}

mark {background-color:var(--hl);color:var(--bg);}
hr {height:1px;border-width:0;color:var(--text);background-color:var(--text)} 

pre {
	font-size:calc(0.5rem + 0.25vw);
	line-height:2.3ex;
	overflow-x:auto; 
	padding:2%; 
	color:var(--bg); 
	background-color:var(--text); 
}
code {color:var(--bg);background-color:var(--text);font-size:calc(0.8rem + 0.5vw);padding-left: 0.2em;padding-right: 0.2em;} 

dd {margin-left:2em;}
details {padding-bottom:0ex;}
fieldset {border:1px solid;}
::selection {color: var(--bg);background-color: var(--text);}

.half {width: 50%; height: auto;}
.third {width: 31%; height: auto;}
.left {margin-top: 0em;float: left;margin-right: 2em;clear: both;}
.block {margin-top: 1em;margin-left: 0px;clear: both;}
.container {padding: 2ex; border: solid 1px var(--text);border-radius: 5px;}
.row {display: flex;}
.column {flex: 50%;}
.listing > span {float: right;}
.wrapper {
	list-style-type: none;
	padding-left: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 2fr));
  gap: 1em;
  grid-auto-flow: dense;
}
.wrapper li.landscape {grid-column-end: span 2;}


.inline-img {
	height: 33px;
	display: inline-block;
	border: 1px solid var(--text);
	position: relative;
	left: 0.25em;
	top: 0.25ex;
}


footer {border-top:1.5px solid;padding:1em 0 0 0;margin:1em 0 0 0;clear:both}
footer>* {display:inline-block;}
footer img {margin:0 0 -10px 0;width:30px;} 
footer img:not([title*='banner']) {filter:invert(16%)sepia(6%)saturate(445%)hue-rotate(289deg)brightness(88%)contrast(79%);}

	</style>

</head>

<body>
	<header>
		<h1><a href="home.html">Home</a></h1> 
		<h1><a href="now.html">now</a></h1>
		<h1><a href="wiki.html">wiki</a></h1>
		<h1><a href="about.html">about</a></h1>
	</header>

	<main>

<h2>Plugin Documentation</h2>

<p>This is an experimental page to document the plugins that run to modify small parts of certain pages on this site. The documentation for each plugin is generated by pulling comments from the code, so it only works on scripts which are not compiled.</p>

{{doc-gen}}

		<p><b>Incoming:</b> <a href="site.html">site</a> </p>
	</main>

	<footer>
		<a href="mailto:benrhammond@gmail.com" target="_blank">
			<img loading="lazy" width="30" height="30" src="images/mail.svg" alt="Mailto" />
		</a>
		<a rel="me" href="https://merveilles.town/@flbr" target="_blank">
			<img loading="lazy" width="30" height="30" src="images/merveilles.svg" alt="Merveilles" />
		</a>
		<a href='https://webring.xxiivv.com/#icons' target='_blank'>
			<img loading="lazy" width="30" height="30" class="webring" src="images/webring-icon-black.svg" alt="the merveilles webring" />
		</a>
		<a href="https://wiki.xxiivv.com/site/ethics.html">
			<img loading="lazy" width="30" height="30" src="images/dreipfeile-icon.svg" alt="Ethics" />
		</a>
		<a href="feed.xml">
			<img loading="lazy" width="30" height="30" src="images/rss.svg" alt="RSS Feed" />
		</a>
		<img loading="lazy" style="width:88px;height:31px;margin-left:0.5ex;" title="my homemade site banner!" alt="site banner"
			src="images/icon.gif" />
		<span style="float: right;"><em>Last updated: 021523</em></span>
	</footer>
</body>
</html>
