/* @import url('reset.css'); */

*, *::before, *::after {box-sizing: border-box;} 
* {margin: 0;} 
body {line-height: 1.5;-webkit-font-smoothing: antialiased;}
img, picture, video, canvas, svg {display: block;max-width: 100%;}
input, button, textarea, select {font: inherit;} 
p, h1, h2, h3, h4, h5, h6 {overflow-wrap: break-word;} 
#root, #__next {isolation: isolate;} 

:root {
	/* --text:#3A3738; */
	/* --text:#472d30; */
	--text:#654735;
	/* --bg:#FBF0F0; */
	/* --bg:#ffe1a8; */
	--bg:#fbf1c7;
	/* --hl:#80dec5; */
	/* --hl:#c9cba3; */
	--hl:#45707a;
	--hl-orange:#c35e0a;
}

body {
	font-size:calc(1rem + 0.5vw);
	font-family:Times;
	max-width:80ch;
	padding:1em 7%; 
	margin: 3rem auto 3rem; 
	padding: 0 1rem; 
	line-height:1.6;
	color:var(--text);
	background-color:var(--bg);
}

main > *+* {margin-top: 2ex;}

*:not(footer)>a {color:var(--hl);}
*:not(footer)>a:visited {color:var(--hl-orange);}
*:not(footer)>a[href*=':']::before{content:"↗"}

/* *:not(footer)>a:hover {color:var(--text);background-color:var(--bg);} */

header>h1 {display:inline-block;padding-right:.3em;}
header {border-bottom:1.5px solid;padding:0 0 1em 0;margin: 0 0 1em 0;clear:both;}

mark {background-color:var(--hl);color:var(--bg);}
hr {height:1px;border-width:0;color:var(--text);background-color:var(--text)} 

pre {
	font-size:calc(0.5rem + 0.25vw);
	line-height:2.3ex;
	overflow-x:auto; 
	padding:2%; 
	color:var(--bg); 
	background-color:var(--text); 
}
code {color:var(--bg);background-color:var(--text);font-size:calc(0.8rem + 0.5vw);padding-left: 0.2em;padding-right: 0.2em;} 

dd {margin-left:2em;}
details {padding-bottom:0ex;}
fieldset {border:1px solid;}
::selection {color: var(--bg);background-color: var(--text);}

.half {width: 50%; height: auto;}
.third {width: 31%; height: auto;}
.left {margin-top: 0em;float: left;margin-right: 2em;clear: both;}
.block {margin-top: 1em;margin-left: 0px;clear: both;}
.container {padding: 2ex; border: solid 1px var(--text);border-radius: 5px;}
.row {display: flex;}
.column {flex: 50%;}
.listing > span {float: right;}
.wrapper {
	list-style-type: none;
	padding-left: 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 2fr));
  gap: 1em;
  grid-auto-flow: dense;
}
.wrapper li.landscape {grid-column-end: span 2;}


.inline-img {
	height: 33px;
	display: inline-block;
	border: 1px solid var(--text);
	position: relative;
	left: 0.25em;
	top: 0.25ex;
}


footer {border-top:1.5px solid;padding:1em 0 0 0;margin:1em 0 0 0;clear:both}
footer>* {display:inline-block;}
footer img {margin:0 0 -10px 0;width:30px;} 
footer img:not([title*='banner']) {filter:invert(16%)sepia(6%)saturate(445%)hue-rotate(289deg)brightness(88%)contrast(79%);}
